<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">{% t footer.copyright %}</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://www.facebook.com/profile.php?id=100004544206616"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/tao-lin"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="https://github.com/nblintao"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="{{ '/Resume/Tao_Lin_CV.pdf' | relative_url }}"><i class="fa fa-file-o"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer> 